<h1>Список заказов</h1>

<table>
  <tr>
    <th>Имя</th>
    <th>Адрес</th>
    <th>Электронная почта</th>
    <th>Способ оплаты</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody id="orders">
  	<%= render @orders %>
  </tbody>
</table>

<br />

<%= link_to 'Новый заказ', new_order_path %>
<div id="paginator">
  <p><%= paginate @orders, :remote => true %></p>
</div>
